main {
    height: 100vh;
}

#main-img {
    height: 48vh;

    background: url("/img/bg-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-top: 3px solid #f16059;
    border-bottom: 3px solid #f16059;
}

.tablet-title {
    visibility: hidden;
}



/* ================= RECIPES-COLLECTION.HTML ======================== */

#recipes-collection {
    height: 100vh;
    display: flex;
    align-items: center;
}

.recipe-card-img {
    height: 300px;
}



/* Medium Devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    #recipe-title {
        display: none;
    }

    .tablet-title {
        visibility: visible;
    
    }
}